<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm The Map!</title>
    <style>
        body {
            background: url('/img/fortnut.jpg') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
<button onclick="window.location.href='/shop'">Shop</button>
<button onclick="window.location.href='/scuffedPets'">Pet</button>
<button onclick="">MiniGame</button>
</body>
</html>