<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dat Shop</title>
</head>
<body>
    <button onclick="window.location.href='/map'">Leave</button>
    <div id="items">
        <form action="/buyButter" method="POST">
            <img src="/img/BUTTEr.jpg" alt="butter" onclick="this.closest('form').submit()"></img>
        </form>
    </div>
</body>
</html>