<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        body {
            background-color: green;
        }
    </style>
</head>
<body>
    <h1>Hello</h1>
    <a href="/scuffedPets">to Scuffed Pets</a>
    <a href="/login">to login</a>
</body>
</html>