<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: green;
    }
    button {
        border-radius: 15px;
       font-size: 50px;
    }
</style>
<body>
    <button>Butter Dat DoG!</button>
</body>
</html>